<div id="card" class="animate__animated animate__fadeIn">
                <div class=" d-flex flex-column align-items-start">
                    <div class="cardHead d-flex flex-column align-items-start">
                        <h2 id="title">POCKETS Ufms</h2>
                        <p id="subtitle">AUDITÓRIOARQ. Jurandir</p>
                    </div>
                    <p id="leader" class="card-infos"><img src="images/pessoa.png" id="icon-leader"> Aryadne Camargo</p>
                    <p id="day" class="card-infos"><img src="images/ring-calendar.png" id="icon-day"> Segunda</p>
                    <p id="time" class="card-infos"><img src="images/relogio.png" id="icon-time"> 12:00 a 13:00</p>
                </div>
                <button id="cta-button">Quero conhecer</button>
            </div>