<nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/fogueira.png" alt="Bootstrap" width="30" height="24">
            </a>
        </div>
    </nav>